.jumbotron {
  padding-top: 100px;
  background-color: #ff94db;
}
section {
  padding-top: 90px;
}
#about {
  background-color: #94e6ff;
}
#projects {
  background-color: #ff94db;
}
#contact {
  background-color: #94e6ff;
}
footer {
  background-color: #0bc0ee;
  text-align: center;
}
